# droppings

*.beam
*~
.\#*
\#*
foo*

/.ICEauthority
/.IdeaIC*/
/.aspell.*
/.aws/
/.awsvault/
/.bash_history
/.bash_logout
/.cache/
/.cask/
/.config/
/.dbus/
/.docker/
/.emacs.d/
/.erl*
/.esd_auth
/.face*
/.gnupg/
/.gtkrc-*
/.intellij/
/.java/
/.kde/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mozilla/
/.nix-defexpr/
/.nix-profile
/.nmcli*
/.password-store/
/.pgAdmin*
/.pgadmin*
/.pgpass
/.pki/
/.pulse-cookie
/.python_history
/.ssh/
/.steam/
/.var/

/Desktop/
/Downloads/
/bin/rebar3
/install/hardware-configuration.nix
/user_default.erl

/git/
/wg2/
