# droppings

*.TAGS
*.beam
*~
.\#*
\#*
foo*

/.ICEauthority
/.IdeaIC*/
/.aspell.*
/.aws/
/.awsvault/
/.bash_history
/.bash_logout
/.cache/
/.cask/
/.config/
/.dbus/
/.docker/
/.emacs.d/
/.erl*
/.esd_auth
/.face*
/.gnupg/
/.gtkrc-*
/.hex
/.intellij/
/.java/
/.kde/
/.kube/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mix
/.mozilla/
/.nix-defexpr/
/.nix-profile
/.nmcli*
/.password-store/
/.pgAdmin*
/.pgadmin*
/.pgpass
/.pki/
/.pulse-cookie
/.python_history
/.ssh/
/.steam/
/.var/

/Desktop/
/Downloads/
/install/hardware-configuration.nix

/.terraform.d/
/.wg2/
/bin/rebar3
/bin/hecs
/git/
/otp
/user_default.erl
/wg2/
