# droppings
*~
.\#*
\#*
foo*

/.ICEauthority
/.IdeaIC*/
/.aspell.*
/.aws/
/.awsvault/
/.bash_history
/.bash_logout
/.cache/
/.cask/
/.config/
/.dbus/
/.docker/
/.emacs.d/
/.face*
/.gnupg/
/.gtkrc-*
/.intellij/
/install/hardware-configuration.nix
/.java/
/.kde/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mozilla/
/.nix-defexpr/
/.nix-profile
/.nmcli*
/.password-store/
/.pgAdmin*
/.pgadmin*
/.pgadmin3
/.pgpass
/.pki/
/.pulse-cookie
/.python_history
/.ssh/
/.steam/

/Desktop/
/Downloads/

/git/
/wg2/
